---
import MainLayout from '@/layouts/main-layout.astro';
import { Image } from 'astro:assets';
import { hobbies } from '@/config/about.ts';
import { Button } from '@/components/ui/button';
import { Icon } from 'astro-icon/components';
---

<MainLayout title='About' description='Learn more about us'>
  <section class='space-y-5 min-h-screen'>
    <section class='relative container mb-28 mt-16 sm:mt-20 lg:mt-28'>
      <div class='flex h-full flex-col justify-between'>
        <div class='grid gap-8 sm:grid-cols-2'>
          <div>
            <h1 class='text-4xl font-heading text-foreground'>Meet the Team</h1>
            <p class='text-base text-muted-foreground mt-0.5'>
              We're a group of three friends who met at Brunel University
              London.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class='grid gap-8 sm:grid-cols-3'>
      <div class='text-center'>
        <div class='w-80 h-80 mx-auto rounded-full bg-gray-300'>
          <!-- Placeholder for Harry's photo -->
          <img src='/images/harry.webp' alt='Harry' class='rounded-full' />
        </div>
        <h2 class='text-xl font-semibold mt-4'>Harry</h2>
        <p class='text-base text-muted-foreground'>
          Chief Product Officer (CPO)
        </p>
      </div>
      <div class='text-center'>
        <div class='w-80 h-80 mx-auto rounded-full bg-gray-300'>
          <!-- Placeholder for Akash's photo -->
          <img src='/images/harry.webp' alt='Harry' class='rounded-full' />
        </div>
        <h2 class='text-xl font-semibold mt-4'>A</h2>
        <p class='text-base text-muted-foreground'>
          Chief Executive Officer (CEO)
        </p>
      </div>
      <div class='text-center'>
        <div class='w-80 h-80 mx-auto rounded-full bg-gray-300'>
          <!-- Placeholder for Matt's photo -->
          <img src='/images/harry.webp' alt='Harry' class='rounded-full' />
        </div>
        <h2 class='text-xl font-semibold mt-4'>x</h2>
        <p class='text-base text-muted-foreground'>
          Chief Technology Officer (CTO)
        </p>
      </div>
    </div>

    <div
      class='relative z-10 flex flex-col justify-center overflow-hidden lg:overflow-visible pb-16'
    >
      <div
        class='mx-auto flex w-max -translate-x-[15%] justify-center lg:w-full lg:translate-x-0'
      >
        <div
          class='relative z-10 mx-auto max-w-4xl px-4 md:max-w-6xl md:px-12 lg:max-w-5xl lg:px-6 xl:max-w-[80rem] xl:px-6 2xl:px-0'
        >
        </div>
      </div>
    </div>
  </section>
</MainLayout>
